<mat-card class="example-card">
  <img mat-card-image [src]="book && book.image ? book.image : 'assets/400x550px.png'"
       [alt]="book && book.name ? book.name : 'No Book Name'">
  <mat-card-content>
    <strong>
      {{ book && book.name ? book.name : 'No Book Name' }} - <span>{{ book && book.year ? book.year : 2000 }}</span>
    </strong>
    <br/>
    <strong> {{ book && book.price ? book.price : 0 |  currency: "VNĐ " }} </strong>
  </mat-card-content>
</mat-card>
<button mat-button (click)="goBack()">GO BACK</button>
