/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: darkgrey;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  margin: 0 14px;
}

.example-card {
  max-width: 400px;
  margin: 10px;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
