.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  margin: 0 14px;
}
.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
