<app-login *ngIf="!isAuthenticate; else success"
           [authenticate]="isAuthenticate"
           (successAuthenticate)="auth($event)"></app-login>
<ng-template #success>
  <mat-toolbar>
    <span>Book Application</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <span [innerText]="user !== null ? user.firstName : 'username'"></span>
    <button mat-icon-button class="example-icon" routerLink="/">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</ng-template>
